.weeklyWeather {
    
    margin-top: 10px;
    height: 110px;
    padding: 5px;
    display:flex;
    justify-content:space-evenly;

}
.flex-col{
    display: flex;
    flex-direction: column;
    
    width: 70px;
    justify-content: center;
   padding: 6px;
   margin-left: 5px;
   font-size: small; 
}
.flex-col:hover{
    border: 1px solid black;
}

